@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MamaMia</h1>
    <p>Have a look at the great options we provide</p>
</div>

<div class="text-center">
    <img src="./WebsiteImages/f3942868f9a1afec045298579d19daef.jpg" height="450" width="600"/>
</div>

