@page
@model WebApplicationRev3.Pages.NotAuthorisedModel
@{
}

<h1>Whoops, you aren't suppposed to be here</h1>
<p>Sorry, but you arent allowed here.</p>
<a id="Return" asp-page="./Index" >Click here to go back to the home page</a>